html {
    font-size: 10px;
}

body {
  background-color: green;
}

img {
  height: 200px;
  width: 150px;
}

.App {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Main h1 {
  text-transform: uppercase;
  color: rgb(244, 253, 255);
  margin-top: 4rem;
}

.Main img {
  width: 40rem;
}

.Game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.Cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.Card {
  margin: 10px;
}

button {
  margin-top: 4rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(244, 253, 255);
  color: green;
  border: none;
  height: 3.5rem;
  width: 15rem;
  border-radius: 0.5rem;
}

button:hover {
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: green;
}

.founded {
  opacity: 0;
}

.Winner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Winner h1 {
  color: rgb(244, 253, 255);
  margin: 1rem 0 0;
}

.Winner img {
  width: 40rem;
}